:root {
  --latte-primary: #c19a6b;
  --latte-secondary: #b08968;
  --latte-text: #86653b;
  --latte-rgba: 193, 154, 107;
}
.footer {
  background-color: #fffbf5 !important;
  color: var(--latte-text) !important;
  padding: 20px 0;
  text-align: center;
}
